<div class="lg:items-center">
    <h3 class="text-xl font-bold">
    <%= link_to title, url, target: :_blank%>
    </h3>
</div>
<h4 class="text-sm font-semibold"><%= subtitle %></h4>
<p class=" text-justify mb-4"><%= description %></p>
